<div class="container">
  <div ng-repeat="index in array track by $index" ng-animate="'animate">
  <div class="col-sm-3 col-lg-3" ng-repeat="obj in index track by $index ">
    <div class="dash-unit" ng-class="{'red': obj.Status == 'FAILURE'}" >
      <h1>{{obj.Job_name}}</h1>
      <hr>
      <div ng-if="obj.Status == 'SUCCESS'">
        <div class="thumbnail">
          <i class="fa fa-thumbs-up fa-5x"></i>
        </div>
      </div>
      <!-- <div ng-if="obj.Status == 'FAILURE'" ng-init="Ctrl.failure(obj)"> -->
      <div ng-if="obj.Status == 'FAILURE'">
        <div class="thumbnail">
          <i class="fa fa-thumbs-down fa-5x"></i>
           <audio class="audioDemo" controls preload="none" autoplay="true" style="display:none"> 
          <source src="/images/beep.mp3" type="audio/mpeg">
        </audio> 
        </div>
      </div> 
      <h3>{{obj.Status}}</h3>
      <br>
    </div>
  </div>
  </div>
</div>
