<div class="container" ng-controller = "GetapiCtrl">
  <div class="col-sm-3 col-lg-3" ng-repeat="obj in ss">
    <div class="dash-unit">
      <h1>{{obj.Job_name}}</h1>
      <hr>
      <div class="thumbnail">
        <img src="images/face80x80.jpg" alt="Marcel Newman" class="img-circle">
      </div><!-- /thumbnail -->
      <h3>{{obj.Status}}</h3>
      <div ng-if="obj.Status == 'FAILURE'">
       <!--  {{obj.Status}}
        <div audio src = "/images/Over_the_horizon.mp3" />
 -->    <audio class="audioDemo" controls preload="none" autoplay="true"> 
          <source src="/images/Over_the_horizon.mp3" type="audio/mpeg">
        </audio>  
        <!-- <div audio options="options" /> -->
      </div>
      <br>
    </div>
  </div>

</div>
